---
BasedOnStyle: Google
AllowAllConstructorInitializersOnNextLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
IndentWidth: '2'
UseTab: Never
...
